*{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    --color-wrapper:#009579;
    --color-container:#fff;
    --background-color:#999;
    --text-color:black;
    --border-radius:8px;
    --font-size:1.5rem;
    --head-size:2.5rem;
}
/*-----Overlay of the Page-----*/
.overlay_video{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: 0.5s;
    pointer-events: all;
    cursor: pointer;
    z-index: 1;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: 0.5s;
    pointer-events: none;
    opacity: 0;
    cursor: pointer;
}
.overlay.active{
    opacity: 1;
    z-index: 1;
    pointer-events: all;
}
.hidden{
    display: none;
}
.blur_body.active{
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}
input{
    outline: none;
}
button{
    font-size:1.3rem;
    width: 150px;
    border: none;
    background-color: var(--color-wrapper);    
    color: var(--color-container);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/*--------Navbar--------*/
.navbarContainer{
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    min-height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-wrapper);
}
.navbar-head h1{
    font-size: 1.3rem;
    color: #fff;
    margin-top: .5rem;
    margin-left: .5rem;
}
 .toggle-button{
    flex-direction: column;
    margin-right: .5rem;
}
.toggle-button .bar{
    width: 25px;
    height: 4px;
    margin: 4px;
    background-color: #fff;
    border-radius: 10px;
    display: block;  
}
.collapse-parent{
    position: fixed;
    width: 100%;
    z-index: 1;
    margin-top: 11rem;
}
.collapse-me{
    text-align: center;
    background: var(--color-wrapper);
    text-decoration: none;
    display: block;
}
.collapse-me a{
    display: block;
    margin: auto;
    padding: .3rem;
    color: #fff;
    width: 100%;
}
.collapse-me a:hover{
    background-color: rgba(0, 0, 0, .200);
    text-decoration: none;
    color: #fff;
}
.navbarDesktop{
    display: none;
}
@media(min-width:900px){
    .navbar-head h1{
        font-size: 1.5rem;
    }
    .collapse-parent{
        display: none;
    }
    .toggle-button{
        display: none;
    }
     .navbarDesktop{
        display:block;   
        text-decoration: none;    
        margin: auto;
    }
    .navbarDesktop a{
        padding: 15px;      
        font-size: 1rem;
        text-decoration: none;
        list-style-type:none;
        color: var(--color-container);
    }
    .navbarDesktop a:hover{
        text-decoration: none;
        list-style-type:none;
        color: var(--color-container);
    }
    .navbar_border{
        border-bottom: var(--color-container) solid 2px;
    }
    .border_default{
        border-bottom: var(--color-container) solid 2px;
    }
}
h1{
    text-align: center;
    font-size: 16px;
}
/*--------HOME PAGE-------*/
.homepage_parent{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;  
}
.homepage_background{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url('mainPage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    object-fit: cover;
    height: 100vh;
}
.homepage_parent{
    color: var(--color-container);
}
.homepage_parent h1{
    font-size: 2.1rem;
}
.homepage_parent h2{
    font-size: 1.4rem;
}
.homepage_parent button{
    padding: 5px;
    margin: 2rem 0 0;
    width: 14rem;
    color: var(--color-container);
}
.homepage_parent button:hover{
    transition: 200ms ease-in-out;
    background-color: #007f67;
}
@media(min-width:380px){
    .homepage_parent h1{
        font-size: 2.5rem;
    }
    .homepage_parent h2{
        font-size: 1.7rem;
    }
}
@media(min-width:500px){
    .homepage_parent h1{
        font-size: 3rem;
    }
    .homepage_parent h2{
        font-size: 2rem;
    }
    .homepage_parent button{
        padding: 5px;
        font-size:1rem;
    }
}
@media(min-width:900px){
    .homepage_parent h1{
        font-size: 3.5rem;
    }
}
/*--------ABOUT US PAGE--------*/
#two{
    font-size: 1.7rem;
    margin-top: 2rem;
}
.about_page{    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
}
.about_page span{
    font-size: .8rem;
}
.about_page img{
    margin-top: 1rem;
    max-width:17rem;
}
.about_page button{
    margin: 2rem 0 0;
    padding: 5px;
    color: var(--color-container);
}
.about_page button:hover{
    transition: 200ms ease-in-out;
    background-color: #007f67;
}
/*--------Product Benefits information--------*/
.readmore_article{
    height: 75vh;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    flex-direction:column;
    text-align: center;
    background-color: white;
    box-shadow: 0px 2px 8px 0px;
    border-radius: 8px;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 300ms ease-in-out;
    visibility: hidden; 
    overflow: hidden;
}
.readmore_article.active{
    z-index: 1;
    opacity: 1;
    transition: 300ms ease-in-out;
    visibility: visible;
}
.readmore_scroll{
    overflow:scroll;
}
.readmore_scroll::-webkit-scrollbar{
    visibility: hidden;
}
.readmore_content{
    margin-top:1rem
}
.readmore_article img{
    display: block;
    width: 275px;
    margin: auto;
    margin-bottom: 1rem;
}
.readmore_article p {
    width: 90%;
    font-size: .8rem;
    margin: auto;
}
.readmore_article button{
    margin: 3rem;
}
@media(min-width:500px){
    #two{
        margin-top: 4rem;
        font-size: 2rem;
    }
    .about_page img{
        max-width:20rem; 
        margin-top: 2rem;
    }
    .about_page_content{
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 1rem;
    }
    .about_page_content span{
        font-size: .9rem;
        margin: auto;
    }
    .about_page_content button{
        margin: 2rem 0 0;
        padding: 5px;
        font-size:1rem;
    }
    .readmore_article{
        width: 90%;
    }
    .readmore_article img{
        width: 420px;
    }
    .readmore_article p{
        font-size: 1rem;
    }
    .readmore_article button{
        font-size: 1.2rem;
        padding: 2px;
    }
}
@media(min-width:900px){
    #two{
        margin-top: 4rem;
        font-size: 2.5rem;
    }
    .about_page{
        max-width: 1000px;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        min-height: 60vh;
    }
    .about_page img{
        max-width:25rem; 
    }
    .about_page_content{
        margin-left: 3rem;
    }
    .about_page_content span{
        width: 100%;
    }
    .readmore_article{
        width: 50%;
    }
    .readmore_article img{
        width: 650px;
    }
    .readmore_article p{
        font-size: 1rem;
        margin: 2rem 5rem 5rem;
    }
    .readmore_article button{
        float: right;
        margin-bottom: 2.5rem;
    }
}
/*--------DELIVERY OPTIONS PAGE--------*/
.items_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
    background-color: var(--color-wrapper);
    margin-top: 5rem;
}
.items_container{
    background-color: var(--color-container);
    border-radius: var(--border-radius);
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.items_container img{
    width: 50px;
}
.items_container p{
    margin-top: .7rem;
}

/*--------PRODUCTS PAGE-------*/
.search_container{
    display: flex;
    margin-left: .5rem;
    margin-top: 2rem;
}
.search-wrapper input{
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 16px;
}
.search-wrapper button{
    padding: 5px;
    width: 120px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: var(--color-wrapper);
    color: white;
    cursor: pointer;
}
/*#invalid_search{
    margin-left: .5rem;
    font-size: 16px;
}*/

.buttons{
    margin: auto;
    margin-top: 1rem;
    display: flex;
}
.button_value{
    font-size: 18px;
    padding: 6px;
    margin: .5rem;
    width: 150px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: black;
}
.button_active{
    background-color: var(--color-wrapper);
    color: white;
}
/*-----Products Section-----*/
.products_head{
    margin-top: 2rem;
    font-size: 1.7rem;
}
.products_wrapper{
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-columns:10rem 10rem;
}
.products_container{
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px;
    background-color: var(--color-container);
    margin: 2rem;
    height: 240px;
    width: 150px;
}
.products_container input{
    font-size: .8rem;
    font-weight: bold;
    border: none;
    outline: none;
}
.products_container img{
    margin: 1rem 0 0;
    width: 150px;
    background-color: var(--color-container);
    object-fit: cover;
    transition: 300ms ease-in-out;
}
.hover-img{
    display: none;      
}
.products_container .price{
    margin: 1rem 0 2rem;
    display: flex;
    justify-content: space-between;
}
.products_container i{
    margin-top: .3rem;
    margin-right: 1rem;
    cursor: pointer;
    
    color: var(--color-wrapper);
    font-size: 1rem;
}
.products_container input{
    font-size: .8rem;
    font-weight: bold;
    border: none;
    outline: none;
}
.products_container span{
    font-size: .9rem;
}
.products_container i:hover{
    transform: scale(1.1);
}

@media(min-width:380px){
    .products_wrapper{
        grid-template-columns:11rem 11rem;
    }
}
@media(min-width:400px){
    .products_wrapper{
        display: grid;
        grid-template-columns: 12rem 12rem;
    }
    .products_container{
        width: 180px;
        height: 280px;
    }
    .products_container img{
        width: 180px;
    }
    .products_container input{
        font-size: 1rem;
    }
    .products_container span{
        font-size: 1.1rem;
    }
    .products_container i{
        font-size: 1.3rem;
        margin-right: 1rem;
    }
}
@media(min-width:450px){
    .products_wrapper{
        grid-template-columns: 13rem 13rem;
    }
}
@media(min-width:500px){
    .products_head{
        margin-top: 4rem;
        font-size: 2.5rem;
    }
}
@media(min-width:550px){
    .products_head{
        font-size: 2.5rem;
    }
    .products_wrapper{
        grid-template-columns:16.5rem 16.5rem;
    }
    .products_container{
        width: 250px;
        height: 400px;
    }
    .products_container img{
        width: 250px;
    }
    .products_container .price{
        margin-top:3.3rem ;
    }
    .products_container input{
        font-size: 1.2rem;
    }
    .products_container span{
        font-size: 1.2rem;
    }
    .products_container i{
        margin-top: .4rem;
        font-size: 1.5rem;
    }
}
@media(min-width:650px){
    .products_wrapper{
        grid-template-columns:17.5rem 17.5rem;
    }
}
@media(min-width:900px){
    .search_container{
        margin-left: 2rem;
    }
    .buttons{
        margin-left: 2rem;
    }
    /*#invalid_search{
        margin-left: 2rem;
    }*/
    .products_head{
        font-size: 2.5rem;
    }
    .products_wrapper{
        display: grid;
        justify-content: center;
        grid-template-columns:repeat(auto-fill, 25rem);
    }
    .products_container{
        width: 260px;
        height: 350px;
    }
    .products_container .price{
        margin-top:.3rem ;
    }
    .products_container img{
        width: 260px;
    }
    img.hover-img{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        display: block;
    }
    .products_container:hover img{
        opacity: 0;
    }
    .products_container:hover img.hover-img{
        opacity: 1;
    }
    .products_container span{
        font-size: 1.3rem;
    }
    .products_container i{
        margin-top: .6rem;
        font-size: 1.3rem;
    }
}
/*------------------------------Customer's Information-------------------------------*/
.abclass{
    top:50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 12;
    box-shadow: 0px 2px 8px 0px;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.abclass_scroll{
    overflow: scroll;
}
.abclass_scroll::-webkit-scrollbar{
    visibility: hidden;
}
.abclass.active{
    opacity: 1;
    visibility: visible;
    transform: 0.5s;
    overflow-x: hidden;
    overflow-y: hidden;
}
.close_abclass{
    float: right;
    font-size: 1.2rem;
    width: 50px;
    margin-top: .3rem;
    padding-left: 2rem;
    cursor:pointer;
}
#close_abclass2{
    display: none;
}
.products_details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.products_details img{
    width: 320px;
    margin-left: 1rem;
}
.products_details input{ 
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 1rem;
}
.products_details img{
    width: 300px;
}
.products_details p{
    padding: 1.5rem 0 1.5rem;
    margin-left: 2.5rem;
    font-size: .8rem;
    max-width: 78%;
    text-align: initial;
}
.product_head{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.abclass_content{
    display: grid;
    place-items: center;
}
#form_input{
    margin: .6rem;
    font-size:1rem;
    border-radius: 10px;
    width: 290px;
    padding: 6px;
    margin-left: 1.5rem;
}
.totalPrice{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 120px;
    border-bottom: 1px solid;
}
.totalPrice span{
    font-size:1.3rem;
}
.totalPrice input{
    text-align: center;
    border: none;
    outline: none;
    width: 70px;
    font-size:1.1rem;
}
.quantity_increment{
    margin-top: .5rem;
}
.quantity_increment input{
    height: 2rem;
}
.quantity_increment button{
    height: 2rem;
    padding: 10px;
    width: 30px;
    font-size: 18px;
}
.abclass select{
    margin: .5rem 0 0;
    text-align: center;
    outline: none;
    font-size: .8rem;
    padding: 3px;
    border: solid 1px;
}
#submit button{
    margin:2rem 0 2rem;
    font-size: .9rem;  
    padding: 5px;
    font-family:12px;
}
#submit button:hover{
    border: none;
    transition: 200ms ease-in-out;
    background-color: #007f67;
}
@media(min-width:450px){
    .products_details img{
        width: 400px;
    }
    .products_details input{
        font-size: 1.3rem;
        margin-right: 6.5rem;
    }
    .products_details p{        
        font-size: .9rem;  
    }
    #form_input{
        width: 360px;
    }
    .close_abclass{
        margin-right: 0;
    }
}
@media(min-width:650px){
    .products_details img{
        width: 500px;
    }
    .close_abclass{
        margin-top: .5rem;
    }
    .products_details input{
        margin-right: 3rem;
        font-size: 1.8rem;
    }
    #form_input{
        width: 480px;
    }
    .totalPrice input{
        font-size: 1.3rem;
    }
    .totalPrice span{
        font-size: 1.3rem;
    }
    .abclass select{
        font-size: 1rem;
    }
    #submit button{
        font-size: 1rem;
        padding: 7px;
        width: 300px;
    }
}
@media(min-width:750px){
    .products_details img{
        width: 550px;
    }
}
@media(min-width:1000px){
    .abclass{
        top: 54%;
        width: 90%;
        height: 90%;
    }
    .abclass_scroll{
        overflow: hidden;
    }
    .close_abclass{
        display: none;
    }
    #close_abclass2{
        display: block;
        position: absolute;
        top: 5px;
        right: 8px;
        font-size: 1.2rem;
        cursor:pointer;
    }
    .abclass .form{
        display: flex;
        margin: 0 2rem;
    }
    .products_details{
        margin-top: 0;
        align-items: initial;
    }
    .product_head{
        margin-left: 1.5rem;
    }
    .products_details img{
        width: 350px;
    }
    .products_details input{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
    .products_details p{
        padding-top: 0;
        width: 86%;
        margin-left: 2.5rem;
    }
    .abclass_content{
        margin-top: .5rem;
        display: grid;
        place-items: initial;
    }
    #form_input{
        margin: .7rem;
        padding: 6px;
        width: 400px;
    }
    .totalPrice{
       margin-left: 1rem;
    }    
    .quantity_increment{
        margin-left: 0rem;
        margin-top: 1rem;
    }
    .abclass select{
        padding: 0;
        margin-left: 1rem;
        width: 220px;
    }
    #submit button{
        margin-left: 1rem;
        margin-top: 5rem;
        width: 25rem;
    }
}

/*--------VIDEOS PAGE-------*/
.videos_head{
    margin-top: 2rem;
    font-size: 1.7rem;
}
.videos_wrapper{
    display: grid;
    place-items: center;
    height: 100vh;
    position: relative;
}
.main_video{
    display: grid;
    grid-template-rows:25px 90px 50px;
    margin: auto;
}
.main_video img{
    width: 300px;   
}
.main_playButton{
    grid-row-start: 2;
    color: black;
    display: grid;
    place-items: center;
    background: #009579;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    margin: auto;
    color: #fff;
    cursor: pointer;
    margin-top: 1.5rem;
}
.main_playButton i{
    margin-left: 4px;
}
.videoPlayer{
    z-index: 12;
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 8rem;
}
.videoPlayer video{
    width: 300px;
}
.videoPlayer button{     
    color: var(--color-container);
    margin-left: 17rem;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: transparent;
    z-index:12;
}
.video_grid{
    display: grid;
    grid-template-rows: 0px;
}
#close_id{
    display: none;
}
#myVideo{
    display: none;
}
.main_playButton .pc{
    display: none;
}
/*-------------SMALL VIDEOS------------*/
.small_videos{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 50vh;   
    width: 295px;
    margin: auto;
}
.small_videos span{
    font-size: .9rem;
    max-width: 265px;
    padding: 1rem 0 1.5rem;
}
.small_videos img{
    width: 250px;
}

.small_videos h3{
    padding-top:2rem;
    padding-bottom: 1.5rem;
    font-size: 1.2rem;
}
#scroll::-webkit-scrollbar{
    width: .6rem;
}
#scroll::-webkit-scrollbar-track{
    background-color: var(--color-wrapper);
    border-radius: 1rem;
    margin-block: .3rem;
}
#scroll::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 100vw;
}
.small_playButton {
    display: grid;
    place-items: center;
    margin: auto;     
    border-radius: 30px;
    width: 45px;
    height: 45px;
    background-color: var(--color-wrapper);
    color: #fff;
    cursor: pointer;
}
.small_playButton i{
    padding-right:4px;
    padding-top: 1px;
}
.small_videos_grid{
    display: grid;
    grid-template-rows:38px;
    margin-right: 3rem;
}
.small_videos_grid .mobile{
    display: grid;
    place-items: center;
    margin-left: .5rem;
    color: var(--color-container);
}
@media(min-width:400px){
    .main_video img{
        width: 350px;   
    }
    .main_playButton {
        margin-top: 2rem;
    }
    .main_playButton i{
        margin-top: .2rem;
    }
}
@media(min-width:500px){
    .videos_head{
        font-size: 2.5rem;
    }
}
@media(min-width:480px){  
   .main_video img{
        width:450px;
   }
   .main_playButton{
        margin-top:3rem;
        width: 65px;
        height: 65px;
        border-radius: 45px;
   }
   .main_playButton i{
        font-size: 3rem;
        margin-left: 5px;
   }  
   .small_videos{
    margin-top: 5rem;
    width: 450px;
    }
    .small_videos img{
        width:400px;
    }
    .small_playButton{
        margin-top: 2.3rem;
        width: 65px;
        height: 65px;
        border-radius: 50px;
        font-size: 1.5rem;    
    }
    .small_playButton i{
        padding-left: 4px;
    }
    .small_videos h3{
        padding-top:4rem;
        padding-bottom: 3rem;
        font-size: 1.8rem;
    }
    .small_videos_grid{
        display: grid;
        grid-template-rows:23px;
    }
    .videoPlayer{
        bottom:10rem;
    }
    .videoPlayer video{
        width: 450px;
    }
    .videoPlayer button{
        margin-left: 26rem;
        font-size: 1.5rem;
    }    
}
@media(min-width:900px){
    .videos_head{
        padding-top: 4rem;
        font-size: 2.5rem;
    }
    .videos_wrapper{
    display: flex;
    }
    .main_video{
        margin-top: 5rem;
    }
    .main_video img{
        width:550px;
    }
    .main_playButton{
        margin-top: 4rem;
     }
    .videoPlayer video{
        width: 650px;
        margin-left:15rem;
    }
    .videoPlayer button{
        margin-left: 53rem;
        font-size: 2rem;
    }    
}


/*---------------------------Footer-----------------------------*/
/*Footer Header Size*/
.col1 h1,
.col2 h1,
.col3 h1{
    font-size: var(--font-size);
    margin-top: 2rem;
    color: var(--color-container);
}
.parent{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    background-color:var(--color-wrapper);
    margin-top: 5rem;
    color:var(--color-container);
}
.col1{
    padding-top: .5rem;
}
.col1 p{
    max-width: 300px;
    margin: auto;
    font-size: .8rem;
}
.lock{
    margin-top: 2rem;
}
.col3 p{
    font-size: .8rem;
}
.social {
    justify-content: space-evenly;
    cursor: pointer;
    margin: 0 5rem 0;
    padding-bottom: 1rem;
    display: flex;   
}
.social i {
    font-size: 25px;
    padding: 10px;
    color: #ddd;   
}
.social .fb {
    width: 47px;
    border-radius: 45px;
    background-color: blue;
}
.social .ig {
    width: 47px;
    border-radius: 45px;
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.social .ig i{
    margin-left: 2px;
}
.developer_pc {
    text-align: center;
}
.developer_pc p{
    font-size: .8rem;
    margin-top: .5rem;
}
@media(min-width:500px){
    .parent{
        margin-top: 9rem;
    }
    .social{
        margin: 0 10rem 0;
    }
}
@media(min-width:900px){
    .parent{
        display: flex;
        margin-top: 0;
        justify-content: space-evenly;
        padding-bottom: 1rem;
    }
    .parent h1{
        font-size: 2rem;
    }
    .developer{
        display: none;
    }
   .contact_text{
        display: flex;
        margin: 1rem 0 0;
   }
   .contact_text p{
        margin: 0 1rem 0;
   }
   .social{
        margin: 0;
        padding-top: 1rem;
        justify-content: flex-start;
    }
    .social .ig{
        margin-left: 1rem;
    }
   .developer_pc p{
    font-size: 1rem;
}
}